:root {
  --grayishColor: rgb(242, 242, 242);
}

/* pseudo-elements  */

.qisas-chap-nav .course_item::before {
  content: '';
  position: absolute;
  top: -70px;
  left: 27px;
  height: 110px;
  border-left: 2px solid var(--grayishColor);
  z-index: 1;
}

.qisas-chap-nav .course_item:first-child .chapter {
  border-radius: 5px 5px 0 0;
}

.qisas-chap-nav .course_item:first-child::before {
  border-left: none;
}

.qisas-chap-nav .sub_chapter:before {
  content: '';
  position: absolute;
  top: -19px;
  left: -13px;
  height: 65px;
  border-left: 2px solid var(--grayishColor);
}

.qisas-chap-nav .sub_chapter:after {
  content: '';
  position: absolute;
  top: 15px;
  left: -12px;
  width: 15px;
  border-bottom: 2px solid var(--grayishColor);
}

/* Hammasi  */

.qisas-chap-nav .sep_part1 {
  padding: 0px 20px;
  padding-bottom: 10px;
  overflow: scroll;
}

.qisas-chap-nav .separate_into_two_columns {
  position: relative;
  margin-top: 0px;
  width: 100%;
  height: calc(100vh + 0px);
  overflow: hidden;

  display: flex;
  flex-direction: row;
}



.qisas-chap-nav .course_item {
  position: relative;
  padding: 0px;
}

.qisas-chap-nav .chapter {
  position: relative;
  margin-bottom: 15px;
  padding: 10px;
  background-color: var(--grayishColor);
  cursor: pointer;

  display: flex;
  justify-content: space-between;
}

.chapter_image_name {
  display: flex;
  gap: 12px;
}

.qisas-chap-nav .round_div {
  background-color: rgb(250, 250, 245);
  min-width: 35px;
  width: 35px;
  height: 35px;
  padding: 2px;
  border: 1px solid rgb(92, 77, 0);
  border-radius: 50%;
  z-index: 2;
}

.qisas-chap-nav .round_div img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.qisas-chap-nav .chapter_image_name p {
  font-weight: 400;
  color: rgb(20, 20, 20);
}

.qisas-chap-nav .chapter_image_name .mastered {
  font-size: 14px;
  color: rgb(0, 162, 162);
  font-weight: 300;
}

.qisas-chap-nav .plus_button {
  margin: auto;
  margin-right: 0px;
  color: rgb(149, 149, 149);
  background-color: rgb(255, 255, 255);
  background-color: transparent;
  cursor: row-resize;
  border-radius: 7px;
  min-width: 50px;
  width: 50px;
  height: 30px;
}

.qisas-chap-nav .plus_button:hover {
  background-color: white;
  color: #007b08;
}

.qisas-chap-nav .plus_button p {
  vertical-align: middle;
  font-weight: 900;
  line-height: 10px;
  font-size: 12px;
}

.qisas-chap-nav .sub_item {
  margin-left: 40px;
  flex-direction: column;
}

.qisas-chap-nav .sub_chapter {
  position: relative;
  background-color: var(--grayishColor);
  padding: 7px;
  padding-right: 5px;
  border-radius: 7px 0 0 7px;
  margin-bottom: 15px;
  cursor: pointer;
}

.qisas-chap-nav .sub_item_text {
  margin-left: 10px;
}

.qisas-chap-nav .sub_item_text:before {
  top: -15px;
  left: -23px;
  height: 65px;
  border-color: rgb(239, 239, 239);
  border-color: rgb(251, 0, 0);
}

.qisas-chap-nav aside {
  padding: 20px;
}

@media only screen and (max-width: 1120px) {
  .qisas-chap-nav .collections_of_books {
    width: calc(100% - 0px);
  }
}

 .course_item_contain {
  border: solid 2px var(--grayishColor);
}

 .course_item_contain .chapter_titles_navpage {
  color: rgb(88, 72, 0) !important;
  font-weight: 500 !important;
}

@media only screen and (max-width: 970px) {
  .qisas-chap-nav .collections_of_books {
    width: calc(100% - 0px);
  }
}

@media only screen and (max-width: 380px) {
  .qisas-chap-nav .sub_item_text p,
  .qisas-chap-nav .chapter_image_name .mastered,
  .qisas-chap-nav .chapter_image_name p {
    font-size: 11px;
  }
}